/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full overflow-hidden;
}

/* apply default typography styles */
h1 {
  @apply h1;
}
h2 {
  @apply h2;
}
h3 {
  @apply h3;
}
h4 {
  @apply h4;
}
h5 {
  @apply h5;
}
h6 {
  @apply h6;
}
a {
  @apply anchor;
}
blockquote {
  @apply blockquote;
}
